/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
  font-family: 'Arial', sans-serif;
  color: #222222;
}

html {
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*--GLOBAL-- */
.hide-small {
  display: none;
}

.blue {
  color: #1E73BE;
}

.section-body {
  width: 100%;
  height: auto;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section-title h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.section-body h2 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 2rem;
}


.section-body p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 2rem;
}

#seller-services p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.logo {
  width: 6rem;
}

#network {
  width: 18rem;
}

#index1 .carousel-caption {
  top: 40%;
  transform: translateY(-50%);
  bottom: initial;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#index2 .carousel-caption {
  top: 45%;
  transform: translateY(-50%);
  bottom: initial;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#index3 .carousel-caption {
  top: 45%;
  transform: translateY(-50%);
  bottom: initial;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel-caption h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  text-shadow: 5px 5px 7px black;
} 

.carousel-caption p {
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
  text-shadow: 5px 5px 7px black;
  margin-top: 1rem;
} 

.cards-title{
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

.card h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  color: #1d184a;
}

.card p {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  color: #1d184a;
}

.card-image {
  overflow: hidden;
}

.card-image img {
  transition: all 1s ease-in;
}

.card-image:hover img {
  transform: scale(1.1);
}


.learn-more {
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0;
  background: #006993;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  z-index: 1;
}      

.learn-more::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: -1;
  transition: transform 200ms ease-in;
  transform: scaleX(0);
  transform-origin: right;
}

.learn-more:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}   

.parallax {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  margin-top: 60px;
  display: block;
}

.parallax-text h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.75rem;
  font-weight: 700;
  color: white;
  text-shadow: 5px 5px 5px black;
}

.current {
  padding-bottom: 0.25rem;
  font-size: 1rem;
  color: #1E73BE;
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 95%;
  height: 2.5px;
  background: #1E73BE;
}


/*--Navigation-- */
nav {
  background-color: white;
  border-bottom: 1px solid black;
}

#dan-nav {
  font-size: 0.75rem;
}

nav a {
  font-size: 1rem;
  color: #222222;
}



.navbar-link {
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 0.25rem;
}

.navbar-link:hover {
  text-decoration: none;
  background-color: white;
  color: #006993;
}

.navbar-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 95%;
  height: 2px;
  background: #006993;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.navbar-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Index */
#index1 {
  background-image: url("../img/index1.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
}

#index2 {
  background-image: url("../img/index2.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
}
 
#index3 {
  background-image: url("../img/index3.jpg");
  background-repeat: no-repeat;
  background-color: rgb(139, 139, 139);
  background-blend-mode: multiply;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50vh;
}

/* Footer */
footer h1, footer h2, footer h3, footer p, footer a {
  color: white;
}

footer img {
  margin: 1rem;
  width: 8em;
}

footer h1 {
  font-size: 1.5rem;
  margin: 1rem;
}

footer h2 {
  font-size: 1rem;
  margin: 1rem;
}

footer p{
  font-size: 0.75rem;
  margin: 1rem;
}


/* About Dan */
#dan-photo {
  width: 16rem;
}

.section-body h2:hover {
  text-decoration: none;
  color: #1E73BE;
}

/* Client Reviews */
.review-photo {
  width: 14rem;
}

.review {
  font-size: 0.6rem;
}

.review-carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 55vh;
  margin-bottom: 12rem;
}

.review-carousel p {
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* Seller Services */
#seller-parallax {
  background-image: url(../img/for-sale.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 70% -170px;
  margin-top: 0rem;
}

/* Buyer Services */
#buyer-parallax {
  background-image: url(../img/buyer.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 70% -170px;
  margin-top: 0rem;
}

@media (min-width: 576px) { 
  #dan-nav {
    font-size: 1.25rem;
  }

  footer img {
    width: 10rem;
  }
  
  footer h1 {
    font-size: 2rem;
  }
  
  footer h2 {
    font-size: 1.5rem;
  }
  
  footer p{
    font-size: 1rem;
  }

  #index1, #index2, #index3 {
    height: 75vh;
  }

  .carousel-caption h1 {
    font-size: 2rem;
  } 
  
  .carousel-caption p {
    font-size: 1rem;
  } 

  nav a, .current {
    font-size: 1.25rem;
  }

  /* About Dan */
  #dan-photo {
    width: 24rem;
  }

  /* Client Reviews */
  .review-photo {
    width: 20rem;
  }

  .review {
    font-size: 1rem;
  }

  .review-carousel {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60vh;
    margin-bottom: 12rem;
  }
  
  .review-carousel p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  

  .parallax {
    height: 60vh;
  }
  
  .logo {
    width: 7rem;
  }
  
  #network {
    width: 24rem;
  }

  #seller-parallax {
    background-position: 70% -5px;
  }

  #buyer-parallax {
    background-position: 70% -55px;
  }

 }

@media (min-width: 768px) {
  .parallax {
    height: 65vh;
  }


  #dan-nav {
    font-size: 1.5rem;
  }

  footer img {
    width: 7rem;
  }
  
  footer h1 {
    font-size: 2rem;
  }
  
  footer h2 {
    font-size: 1.5rem;
    margin-top: 1.25rem;
  }
  
  footer p{
    font-size: 1rem;
  }

  #index1, #index2, #index3 {
    height: 100vh;
  }


  .carousel-caption h1 {
    font-size: 2.5rem;
  } 
  
  .carousel-caption p {
    font-size: 1.5rem;
  } 

   /* About Dan */
   #dan-photo {
    width: 24rem;
  }

   /* Client Reviews */
   .review-photo {
    width: 24rem;
  }

  .review {
    font-size: 1.1rem;
  }

  .review-carousel {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 65vh;
    margin-bottom: 13rem;
  }
  
  .review-carousel p {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
 
  #network {
    width: 26rem;
  }

  .section-body {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  #seller-parallax {
    background-position: 70% -5px;
  }

  #buyer-parallax {
    background-position: 70% -5px;
  }


 }


@media (min-width: 992px) { 
  .hide-large {
    display: none;
  } 

  .navbar-link:hover {
    text-decoration: none;
    background-color: white;
    color: #006993;
  }
  
  .navbar-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    height: 2px;
    background: #006993;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  
  .navbar-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .section-body {
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
    height: auto;
    margin: auto;
  }

  .hide-small {
    display: inherit;
  } 

  nav a, .current {
    font-size: 1.1rem;
  }

  footer img {
    width: 7rem;
  }
  
  footer h1 {
    font-size: 2rem;
  }
  
  footer h2 {
    font-size: 1.25rem;
  }

  footer h3{
    font-size:0.8rem;
  }
  
  footer p{
    font-size: 0.8rem;
  }

  .hide-large {
    display: none;
  } 

  .carousel-caption h1 {
    font-size: 3rem;
  } 
  
  .carousel-caption p {
    font-size: 1.5rem;
  } 

   /* About Dan */
   #dan-photo {
    width: 26rem;
  }

  .section-title h1 {
    margin-bottom: 0rem;
  }

  #about-dan {
    margin-top: 4rem;
  }

  .section-body p {
    font-size: 0.84rem;
  }

  /* Client Reviews */
  .review-photo {
    width: 30rem;
    margin-top: 2rem;
  }

  .review {
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .review-carousel {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 67vh;
    margin-bottom: 4rem;
  }
  
  .review-carousel p {
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  .review-carousel p {
    font-size: 1rem;
    margin-left: 1rem;
  }
  
  .logo {
    width: 8rem;
    padding: 1rem;
  }
  
  #network {
    width: 18rem;
  }

  #seller-parallax {
    background-position: 70% -230px;
  }

 
}


@media (min-width: 1200px) { 
  .carousel-caption h1 {
    font-size: 3.25rem;
  } 

  .section-body {
    padding-left: 14rem;
    padding-right: 14rem;
  }

  .carousel-caption p {
    font-size: 1.75rem;
  } 

  .parallax-text h1 {
    font-size: 3.25rem;
  }

  footer img {
    width: 8rem;
  }
  
  footer h1 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
  
  footer h2 {
    font-size: 1.5rem;
  }

  footer h3{
    font-size:1rem;
  }
  
  footer p{
    font-size: 1rem;
  }
  .section-body p {
    font-size: 0.94rem;
  }

  .review-photo {
    width: 34rem;
    margin-top: 6rem;
  }

  .review {
    font-size: 1.25rem;
    margin-top: 10rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .review-carousel {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 71vh;
    margin-bottom: 8rem
  }
  
  .review-carousel p {
    margin-top: -4.5rem;
    font-size: 1.1rem;
  }


 

 }

 @media (min-width: 1600px) { 
  /* GLOBAL */ 
  .section-body {
    padding-left: 18rem;
    padding-right: 18rem;
  }

  .section-body p {
    font-size: 1.5rem;
    line-height: 2;
    padding-bottom: 1.5rem;
  }

  #seller-parallax {
    background-position: 70% -450px;
  }

  #buyer-parallax {
    background-position: 70% -200px;
  }

}